<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for [@group, @participant], remote: remote, html: {role: :form, 'data-model' => 'participant'} do |f| %>
  <div class="modal-body">
    <%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
      <span class="help-block"></span>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Convidar', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
  </div>  
<% end %>