<p>Olá, tudo bem?</p>

<p>O seu amigo adicionou você para participar do amigo secreto do grupo <%= @participant.group.name %></p>

<p>Por favor, confirme a sua participação clicando no link: <%= link_to 'Confirmar minha participação', confirm_participant_url(@participant.confirm_token) %></p>

<p>
	P.S. Se você já tem uma conta com o e-mail <%= @participant.email%>, basta acessar e sua presença será confirmada. 
	Já se não tiver uma, basta cadastrar utilizando este e-mail!
</p>

<p>Obrigado!</p>
<p>Equipe Amigo X</p>