<p>Olá, <%= @resource.email %>!</p>

<p>A troca de senha foi requisitada. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isto, por favor ignore este email</p>
<p>Sua senha não será trocada até você acessar o link acima e criar uma nova senha.</p>
